@import "_lg-reset";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.fondo{
    width: 100%;
    height: 100vh;
    position: relative;
}
.encima{
    position: absolute;
    width: 90%;
    max-width: 1344px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .cuatro{
        font-size: 50px;
        font-weight: bold;
        color: white;
        font-family: $fuente-principal;
        text-align:center;
    }
    .found{
        font-size: 40px;
        color: white;
        font-weight: bolder;
        font-family: $fuente-principal;
        margin: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        text-align:center;
    }
    .manda{
        color: white;
        font-family: $fuente-principal;
        text-align: center;
    }
    a{
        background: $azul-duro;
        margin-top: 20px;
        padding: 10px 20px;
        color: white; 
        text-decoration: none;
        border: 1px solid white;
    }
}



@media screen and (max-width:768px){
    .encima{
        .cuatro{
            font-size: 30px;
        }
        .found{
            font-size: 30px;
        }
    }
    .logo{  
        width: 200px;
    }
}