$color-primario: #00e65d;
$color-secundario:#F76E2B;
$verde-oscuro: #F76E2B;
$colo-hover:#F3FA57; 
$gris-suave:#707070;
$gris-fondo:#D9DBDA;
$fuente-principal: 'Merriweather', serif;
$fuente-corrida: 'Great Vibes', cursive;

@mixin display(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin absolute(){
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@mixin pseudoelementos(){
    content: "";
}