$azul-suave: #5283BB;
$azul-duro:#242E79;
$rojo-vino: #991C27;
$borde-plomo:#EFEFEF; 
$fondo:#F8F8F8;
$fuente-principal: 'Raleway', sans-serif;

@mixin display{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin absolute{
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);   
}
@mixin pseudoelementos{
    content: "";
}