@import "_lg-reset";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}

h1,h2,h3,h4,p,li,span,a{
    font-family: $fuente-principal;
}

.entero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.medio{
    width: 92%;
    max-width: 1344px;
}
body{
    background: $fondo;
}
.titulo{ 
    margin-top: 20px;  
    margin-bottom: 20px; 
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $borde-plomo;
    position: relative;
    width: 100%;
    &::after{
        content: "";
        position: absolute;
        bottom: -1px;
        height: 5px;
        width: 20%;
        background: $azul-suave;
        left: 0;
        z-index: 99;
        border-radius: 10px;
    }
}