@import "_lg-reset";
footer{
    background: white !important;
    border-top: 1px solid $color-primario;
    .medio{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 400px;
            height: 120px;
        }
        span{
            display: flex;
            a{
                display: block;
                @include display;
                font-size: 20px;
                margin: 5px;
                color: white;
                width:35px;
                height: 35px;
                border-radius: 50%;
                padding: 10px;
                background: darken($color-primario,20); 
            }
        }
        
    }
}
.ultimo{
    background: darken($color-primario,25);
    .medio{
        p{
            color: white;
            padding: 10px;
            font-size: 14px;
            text-align: center;
            opacity: .8;
            a{
                color: #f4f417;
                font-weight: bold;
            }
        }
    }
}


@media screen and (max-width:580px){
    footer{
        .medio{
            flex-direction: column;
            img{
               width: 98%;
                height: auto;
            }
        }
    }
}