@import "_lg-reset";
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 99999999;
    .medio {
        display: flex;
        justify-content: space-between;
    }
}

.icon-menu {
    display: none;
}
.efecto-menu{
    background: rgba(black,.4);
}
.logo {
    position: fixed;
    top: 0;
    height: 150px;
    background: white;
    padding: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid #ccc;
    @include display;
    img {
        width: 160px;
    }
}

.menu {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    a {
        margin: 5px;
        padding: 10px;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        position: relative;
        overflow: hidden;
        transition: all .3s;

        &::after {
            border-top: 1px solid white;
            content: attr(data-title);
            position: absolute;
            padding: 10px;
            left: 0;
            margin-top: 10px;
            background: white;
            color: black;
            transition: all .3s;

        }
        &:hover:after {
            margin-top: 50px;
            z-index: 10;
            margin-top: 0;
            top: 0 !important;
            transition: all .3s;
        }
    }
}



@media screen and (max-width:768px) {
    header {
        height: 100px;
        background: rgba(black, .4);
        border-bottom: 1px solid black;
    }
    .logo {
        height: auto;
        background: transparent !important;
        position: relative;
        padding: 0;
        border-style: none;
        img {
            width: 120px;

        }
    }
    .icon-menu { 
        display: block;
        color: white;
        font-size: 40px;
        position: absolute;
        right: 20px;
        top: 30px;
        cursor: pointer;
    }
    .menu {
        position: fixed;
        background: rgba($azul-suave, .8);
        width: 70%;
        right: -100%;
        top: 100px;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .3s;
        a {
            border-bottom: 1px solid rgba(black, .5);
            color: white;
            text-align: center;
            margin: 0;
            border-right: 1px solid rgba(white, .5);
            &::after {
                width: 100%;
            }
        }
    }
.movimiento_menu {
    right: 0;
    transition: all .3s;
}
}


@media screen and (max-width:400px) {
    .menu {
        a {
            font-size: 16px;
            padding: 10px;
            text-align: left;
        }
    }
    .logo {
        height: auto;

        img {
            width: 100px;
        }
    }
}
