html
    head
        title Cadex Pacifico 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:400,700")
        link(rel="stylesheet", href="css/404.css")
        script(src="https://code.jquery.com/jquery-1.11.3.min.js") 
    body 
        img.fondo(src="imagenes/fondo.jpg")
        .encima
            img.logo(src="imagenes/logo.png")
            p.cuatro 404 
            p.found Página no encontrada
            p.manda Parece que la pagina que estabas buscando ya no existe, puedes volver al inicio para poder seguir navegando dentro de nuestra web.
            a(href="/") Ir a inicio