html
    head
        title Cadex Pacifico 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:400,700")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel="stylesheet", href="css/menu.css")
        link(rel="stylesheet", href="css/slider_seccion.css")
        link(rel="stylesheet", href="css/card.css")
        link(rel="stylesheet", href="css/calamar.css")
        link(rel="stylesheet", href="css/footer.css")
        link(rel="stylesheet", href="css/animate.css")
        script(src="https://code.jquery.com/jquery-1.11.3.min.js") 
    include menu
    body   
        .slider_seccion.wow.fadeIn
            img(src="imagenes/seccion/calamar.jpg") 
        .tittle.entero.wow.fadeIn
            .medio 
                h1 Calamares
        .productos.entero
            .medio
                .card_group
                    a.card.wow.fadeInUp(href="/calamar/tentaculos-de-pota")
                        .card_image
                            img(src="imagenes/calamar/1.jpg")
                        .card_info
                            h2 Tentaculos de pota
                            p Seccion: Calamar
                    a.card.wow.fadeInUp(data-wow-delay=".2s",href="/calamar/aleta-de-pota")
                        .card_image
                            img(src="imagenes/calamar/2.jpg")
                        .card_info
                            h2 Aleta de pota
                            p Seccion: Calamar
                    a.card.wow.fadeInUp(data-wow-delay=".4s",href="/calamar/rodajas-de-pota")
                        .card_image
                            img(src="imagenes/calamar/3.jpg")
                        .card_info
                            h2 Rodajas de pota
                            p Seccion: Calamar
                    a.card.wow.fadeInUp(data-wow-delay=".6s",href="/calamar/anillas-de-pota")
                        .card_image
                            img(src="imagenes/calamar/4.jpg")
                        .card_info
                            h2 Anillas de pota
                            p Seccion: Calamar
                    a.card.wow.fadeInUp(data-wow-delay=".8s",href="/calamar/cuello-de-pota")
                        .card_image
                            img(src="imagenes/calamar/5.jpg")
                        .card_info
                            h2 Cuello de pota
                            p Seccion: Calamar
                    a.card.wow.fadeInUp(data-wow-delay=".2s",href="/calamar/botones-de-pota")
                        .card_image
                            img(src="imagenes/calamar/6.jpg")
                        .card_info
                            h2 Botones de pota
                            p Seccion: Calamar
                    a.card.wow.fadeInUp(data-wow-delay=".4s",href="/calamar/filete-de-pota")
                        .card_image
                            img(src="imagenes/calamar/7.jpg")
                        .card_info
                            h2 Filete de pota
                            p Seccion: Calamar
                    a.card.wow.fadeInUp(data-wow-delay=".6s",href="/calamar/calamar-entero")
                        .card_image
                            img(src="imagenes/calamar/8.jpg")
                        .card_info
                            h2 Calamar entero
                            p Seccion: Calamar
                    
        script(src="js/efectos.js")
        script(src="js/wow.min.js")
        script.
            new WOW().init();
        include footer             