footer.entero.wow.fadeInUp
    .medio
        .primer
            a.logo_footer(href="/")
                img(src="imagenes/logo.png")
        .segundo
            p.titulo_footer Enlace
            a(href="/") Inicio 
            a(href="/calamares.html") Calamares
            a(href="/pescados") Pescados
        .tercer
            p.titulo_footer Contacto
            a(href="mailto:info@cadexpacifico.com") Info@cadexpacifico.com
            a(href="tel:929322022") 929 322 022 - 432 319 6
            a(href="/") www.cadexpacifico.com
.ultimo.entero
    .medio
        h2 Cadex Pacifico 2018
        span
            p Diseñado por 
            a(href="http://www.stigold.com/") Sti Gold