html
    head
        title Cadex Pacifico 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:400,700")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel="stylesheet", href="css/menu.css")
        link(rel="stylesheet", href="css/slider.css")
        link(rel="stylesheet", href="css/body.css")
        script(src="https://code.jquery.com/jquery-1.11.3.min.js") 
    include menu
    body 
        include slider 
        .proceso.entero
            .medio
                p.titulo Nuestro Proceso
                .proceso_items.pescas
                    span 1
                    .proceso_items_info
                        h3 Pescas
                        p Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. E
                .proceso_items.transporte
                    span 2
                    .proceso_items_info
                        h3 Pescas
                        p Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. E
                .proceso_items.proceso
                    span 3
                    .proceso_items_info
                        h3 Pescas
                        p Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. E
                .proceso_items.exportacion
                    span 4
                    .proceso_items_info
                        h3 Pescas
                        p Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. E
        script(src="js/efectos.js")