header.entero
    .medio
        a.logo(href="/")
            img.logo_img(src="imagenes/logo.png")
        i.icon-menu#btn-menu
        ul.menu.nav#menu
            a(data-title="Inicio",href="/"): li Inicio
            a(data-title="Calamar",href="/calamar.html"): li Calamar
            a(data-title="Pescados",href="/pescados.html"): li Pescados
            a(data-title="Contactanos",href="/contactanos"): li Contactanos