header.entero.menu-contenedor
    .medio
        a.logo(href="/")
            img.logo_img(src="../imagenes/logo.png")
        i.icon-menu#btn-menu
        ul.menu.nav#menu
            a(data-title="Inicio",href="/"): li Inicio
            a(data-title="Calamar",href="/calamar"): li Calamar
            a(data-title="Peces",href="/Peces"): li Peces
            a(data-title="Contactanos",href="/contactanos"): li Contactanos