header.entero
    .medio
        a(href="/")
            img.logo(src="imagenes/logo.png")
        i.icon-bars#btn-menu
        ul.menu.nav#menu
            a(href="/"): li Inicio
            a(href="/calamar.html"): li Calamar
            a(href="/pescados.html"): li Pescados
            a(href="/contactanos"): li Contactanos