.slider
    .slider_content
        .slider_items
            img(src="imagenes/slider/slider_1.jpeg")
            p.texto_slider Cadena de Exportacion de Calidad
        .slider_items
            img(src="imagenes/slider/slider_2.jpg")
            p.texto_slider Cadena de Exportacion de Calidad
        .slider_items
            img(src="imagenes/slider/slider_3.jpg")
            p.texto_slider Cadena de Exportacion de Calidad
        .slider_items
            img(src="imagenes/slider/slider_4.jpg")
            p.texto_slider Cadena de Exportacion de Calidad
    i.icon-izquierda.btn_slider
    i.icon-derecha.btn_slider