.slider.wow.fadeIn
    .slider_content
        .slider_items
            img(src="imagenes/slider/slider_1.jpeg")
            h1.texto_slider Cadena de Exportación de Calidad
        .slider_items
            img(src="imagenes/slider/slider_2.jpg") 
            p.texto_slider Exportación de calamar y pescados
        .slider_items
            img(src="imagenes/slider/slider_3.jpg")
            p.texto_slider Procesos de calidad 
        .slider_items
            img(src="imagenes/slider/slider_4.jpg")
            p.texto_slider Cálidad en nuestros, garantía en nuestros servicios
    i.icon-izquierda.btn_slider
    i.icon-derecha.btn_slider